
.flex {
  display: flex;
}
.middle {
  align-items: center;
}
.center {
  justify-content: center;
}
.card-container {
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  position: relative;
  height: 100%;
}
.card-head {
  position: relative;
  height: 110px;
  margin-left: 15px;
  padding: 5px;
  border: none;
}
.card-body form {
  margin: 0;
  margin-left: 15px;
}
.image-container {
  display: flex;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  border: 2px solid rgb(88, 88, 88);
  position: relative;
  overflow: hidden;
}
.image-container img {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body {
  height: 50%;
  padding: 5px;
}

.select-btn {
  height: 35px;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  border: 1px solid rgb(31, 98, 223);
  height: 35px;
  border-radius: 5px;
}
input:disabled {
  background: initial;
  color: rgb(100, 100, 100);
}

.wrong {
  border-color: rgb(218, 53, 53);
}
.correct {
  border-color: rgb(91, 218, 53);
}
.default {
  border-color: rgb(31, 98, 223);
}

.usr-name {
  height: 100%;
  width: 60%;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

@media screen and (max-width: 720px) {
  .sign-in {
    width: 90%;
    margin-left: 5%;
  }
  .form {
    position: relative;
    width: 90%;
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .form h2 {
    font-size: 20px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
  }
  .form-group label {
    font-weight: 600;
    font-size: 17px;
  }
}
p {
  color: rgb(221, 43, 43);
}

.notify{
  background-color: rgb(219, 65, 65);
  display: flex;
  position: relative;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-shadow: 1px 0 1px rgb(207, 207, 207);
  margin: 0 10px 10px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  animation: hide 10s 1 linear;
}
@keyframes hide {
  0%{opacity: 1;}
  90%{opacity: 1;}
  100%{opacity: 0;}
}
.notify:hover{
  box-shadow: 0 0 0 1px rgb(207, 207, 207);
}

.sign-in {
  background-color: #fff;
  position: relative;
  width: 60%;
  margin-left: 20%;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 10px;
  height: 70%;
  margin-bottom: 5vh;
  margin-top: 5vh;
  box-shadow: 2px 2px 5px 0 rgba(29, 29, 29, 0.8),
    -2px -2px 5px 0 rgba(29, 29, 29, 0.8);
}
.container{
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sign-in h2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  width: 60%;
  height: 40px;
}
.select-btn {
  height: 35px;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  width: 95%;
}
.form{
  height: 90%;
}
.joined {
  border: 1px solid rgb(31, 98, 223);
  height: 35px;
  overflow: hidden;
  border-radius: 5px;
  padding-left: 5px;
}
input:hover,
.joined:hover {
  transform: scale(1.001);
  box-shadow: 1px 1px 5px 0 rgba(18, 79, 194, 0.8), -1px -1px -5px 0 rgba(18, 79, 194, 0.8);
  transition: all 0.5s linear;
}
@media screen and (max-width: 720px) {
  .sign-in {
    width: 90%;
    margin-left: 5%;
  }
  .form {
    position: relative;
    width: 90%;
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .form h2 {
    font-size: 20px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
  }
  .form-group label {
    font-weight: 600;
    font-size: 17px;
  }
}
.sticky {
  position: sticky;
  top: 0;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.full {
  position: relative;
  height: 100%;
  width: 100%;
}

.m-0 {
  margin: 0;
}

.m-5px {
  margin: 0 5px;
}

.w-60p {
  width: 60%;
}

.w-40p {
  width: 40%;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 650;
}

.b-right {
  border-right: 2px solid #ddd;
}
.b-none{
  border: none;
}
img{
  position: relative;
  display: block;
}

.w-25p {
  width: 25%;
  position: relative;
}

.w-50p {
  width: 50%;
  position: relative;
}

.w-20p {
  width: 20%;
  position: relative;
}

.p-5px {
  padding: 5px;
}

.p-10px {
  padding: 10;
}

.pr-5px {
  padding-right: 5px;
}

.pl-5px {
  padding-left: 5px;
}

.pt-5px {
  padding-top: 5px;
}

.pb-5px {
  padding-bottom: 5px;
}

.prl-5px {
  padding-left: 5px;
  padding-right: 5px;
}

.h-sm {
  width: 10%;
}

.text-normal {
  font-weight: normal;
}

.m-auto {
  margin: auto;
}
.mr-5{
  margin-right: 5px;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.mrl-auto {
  margin-right: auto;
  margin-left: auto;
}

.mtb-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.inline{
  display: inline-block;
}
.badge{
  background: #166ff6;
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
  height: calc(17%);
  width: calc(25%);
  padding: 2px;
  position: absolute;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px 0 #aaa;
  right: 0;
}

input {
  height: 35px;
  padding: 5px;
  padding-right: 10px;
  border: 0.5px solid rgb(26, 26, 26);
  border-radius: 5px;
}
input:hover:not(.form-group input){
  box-shadow: 0 0 0 0.11em rgba(37, 142, 255, 0.863);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

a.no-link {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
}


#discount {
  position: relative;
  overflow: hidden;
}
#discount::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 2px solid #4b4b4b;
  height: 2px;
  position: absolute;
  bottom: 5px;
  left: 0;
}

.undl {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}

.btn {
  background-color: rgb(68, 119, 214);
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  padding: 1px;
  position: relative;
  box-shadow: 1px 1px 1px 0 rgb(26, 26, 26);
}
.btn-round{
  border-radius: 50%;
  padding: 3px;
}
.btn:hover {
  box-shadow: 0 0 0 0.13rem rgba(38, 143, 255, 0.5);
}

button.slide-effect {
  overflow: hidden;
  position: relative;
}

button.slide-effect:active::before {
  content: '';
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  background: rgba(17, 17, 17, 0.137);
  animation: btn-wave 0.9s 1 ease;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.form-group {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.form-group label {
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.form-group.last {
  display: flex;
  height: 20%;
  justify-content: center;
}
.form-group.last.last-2{
  height: 20%;
  flex-direction: row;
}
.form-group.last.last-2 > *{
  margin: 0 10px;
  width: 50%;
}

.form-group.last>button {
  position: relative;
  margin: auto;
}

@keyframes btn-wave {
  0% {
    width: 0;
    height: 100%;
  }

  99% {
    width: 1000px;
    height: 100%;
  }

  100% {
    width: 0;
    height: 0;
    word-wrap: none;
  }
}

@media screen and (max-width: 520px) {
  .search-bar {
    order: 2;
    width: 99%;
  }

  .footer .nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.categories{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 180px)); 
  grid-auto-rows: 250px;
  row-gap: 15px;
  column-gap: 15px;
  justify-content: center;
  padding: 5px;
}
.card{
  border: 0.9px solid rgb(38, 69, 204);
  border-radius: 4px;
  width: 95%;
  height: 98%;
  margin: auto;
  padding: 2px 4px 0 4px;
  box-shadow: 1px 1px 5px 0 #a4a4a4;
  background-color: #fff;
}
.card-head{
  border-bottom: 1px solid #888;
  height: 43%;
}
.prod-name{
  font-size: 1.02em;
}
.card-body{
  height: 57%;
  overflow: hidden;
}
.description{
  font-size: 14.4px;
  height: 3.7em;
  padding: 0 2px;
  overflow: hidden;
  text-overflow: clip;
}
.rating{
  background-color: #358cff;
  padding: 0 2px;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 3px;
}
.rating .star{
  font-size: 1.2em;
}
.price-rating{
  padding: 2px 2px;
  margin-top: 5px;
}
.price-tag{
  font-size: 14.4px;
  font-weight: 550;
  font-family: Arial;
}
.shop-btn{
  margin: 0 2% 0 2%;
  width: 96%;
  height: 29px;
}
.btn.dissabled{
  background: #565656 ;
}
.btn.dissabled:hover{
  box-shadow: 0 0 0 0.13rem rgba(83, 83, 83, 0.6);
}
.body--container{
  height: calc(70%);
}

@media screen and (max-width: 400px){
  .categories{
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr)); 
    justify-content: start;
  }
  .card{
    width: 170px;
  }
}
@media screen and (min-width: 620px){
  .categories{
    justify-content: start;
  }
}